body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);
}

canvas {
    border-radius: 50%;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}